
<script>

  // Sticky header
  jQuery(window).scroll(function(){
    if (jQuery(window).scrollTop() >= 100) {
      jQuery('.ap-header').addClass('is-sticky');
    }
    else {
      jQuery('.ap-header').removeClass('is-sticky');
    }
  });

</script>




<section>
  <header>
    <{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} class="ap-header">
      <div class="ap-header__inner">
        <div class="ap-header__left">

          <div class="ap-header__logo">
            <a href="{{ routes.root_url }}">

              {% if section.settings.logo %}
              <img src="{{ section.settings.logo | img_url: image_size }}"loading="lazy" alt="{{ section.settings.logo.alt | default: shop.name | escape }}">
              {% else %}
              <h2>{{ shop.name }}</h2>
              {% endif %}

            </a>
          </div>

          <div class="ap-header__menu">

            <nav role="navigation">
              <ul>
                {%- for link in section.settings.menu.links -%}
                <li>
                  <a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>
                    {{ link.title }}
                  </a>

                  {%- if link.links != blank -%}
                  <ul>
                    {%- for child_link in link.links -%}
                    <li>
                      <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                        {{ child_link.title }}
                      </a>

                      {%- if child_link.links != blank -%}
                      <ul>
                        {%- for grandchild_link in child_link.links -%}
                        <li>
                          <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
                            {{ grandchild_link.title }}
                          </a>
                        </li>
                        {%- endfor -%}
                      </ul>
                      {%- endif -%}

                    </li>
                    {%- endfor -%}
                  </ul>
                  {%- endif -%}

                </li>
                {%- endfor -%}
              </ul>
            </nav>


          </div>
        </div>
        <div class="ap-header__right">

          <div class="ap-header__icons">

            {%- if shop.customer_accounts_enabled -%}
            <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link link--text focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
              {% render 'icon-account' %}
              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-user" viewBox="0 0 64 64"><path d="M35 39.84v-2.53c3.3-1.91 6-6.66 6-11.41 0-7.63 0-13.82-9-13.82s-9 6.19-9 13.82c0 4.75 2.7 9.51 6 11.41v2.53c-10.18.85-18 6-18 12.16h42c0-6.19-7.82-11.31-18-12.16z"></path></svg>
              <span class="visually-hidden">
                {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
              </span>
            </a>
            {%- endif -%}



            <a href="{% if settings.cart__drawer %}#{% else %} {{ routes.cart_url }} {% endif %}" {% if settings.cart__drawer %} data-drawer-trigger aria-controls="drawer-name" aria-expanded="false" {% endif %} class="header__icon header__icon--cart link link--text focus-inset" id="cart-icon-bubble">
              {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%}
              <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
              {%- if cart != empty -%}
              <div class="cart-count-bubble">
                {%- if cart.item_count < 100 -%}
                <span aria-hidden="true">{{ cart.item_count }}</span>
                {%- endif -%}
                <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
              </div>
              {%- endif -%}
            </a>

          </div>

        </div>
      </div>
    </sticky-header>{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>
  </header>
</section>


{% schema %}
{
"name": "Header",
"settings": [
{
"type": "image_picker",
"id": "logo",
"label": "Logo"
},
{
"type": "link_list",
"id": "menu",
"default": "main-menu",
"label": "Select Menu"
},
{
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    }
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
