
<script>

  // Sticky header
  jQuery(window).scroll(function(){
    if (jQuery(window).scrollTop() >= 100) {
      jQuery('.ap-header').addClass('is-sticky');
    }
    else {
      jQuery('.ap-header').removeClass('is-sticky');
    }
  });

</script>




<section>
  <header>
    <div class="ap-header">
      <div class="ap-header__inner">
        <div class="ap-header__left">

          <div class="ap-header__logo">
            <a href="{{ routes.root_url }}">

              {% if section.settings.logo %}
              <img src="{{ section.settings.logo | img_url: image_size }}"loading="lazy" alt="{{ section.settings.logo.alt | default: shop.name | escape }}">
              {% else %}
              <h2>{{ shop.name }}</h2>
              {% endif %}

            </a>
          </div>
          
          <div class="ap-header__menu">
            
            <nav role="navigation">
  <ul>
    {%- for link in section.settings.menu.links -%}
      <li>
        <a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>
          {{ link.title }}
        </a>

        {%- if link.links != blank -%}
          <ul>
            {%- for child_link in link.links -%}
              <li>
                <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                  {{ child_link.title }}
                </a>

                {%- if child_link.links != blank -%}
                  <ul>
                    {%- for grandchild_link in child_link.links -%}
                      <li>
                        <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
                          {{ grandchild_link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}

              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}

      </li>
    {%- endfor -%}
  </ul>
</nav>

 
          </div>
        </div>
        <div class="ap-header__right">

          <div class="ap-header__icons">

            {%- if shop.customer_accounts_enabled -%}
            <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link link--text focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
              {% render 'icon-account' %}
              <span class="visually-hidden">
                {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
              </span>
            </a>
            {%- endif -%}
            
           
            
            <a href="{% if settings.cart__drawer %}#{% else %} {{ routes.cart_url }} {% endif %}" {% if settings.cart__drawer %} data-drawer-trigger aria-controls="drawer-name" aria-expanded="false" {% endif %} class="header__icon header__icon--cart link link--text focus-inset" id="cart-icon-bubble">
              {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%}
              <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
              {%- if cart != empty -%}
              <div class="cart-count-bubble">
                {%- if cart.item_count < 100 -%}
                <span aria-hidden="true">{{ cart.item_count }}</span>
                {%- endif -%}
                <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
              </div>
              {%- endif -%}
            </a>

          </div>

        </div>
      </div>
    </div>
  </header>
</section>


{% schema %}
{
"name": "Header",
"settings": [
{
"type": "image_picker",
"id": "logo",
"label": "Logo"
},
{
"type": "link_list",
"id": "menu",
"default": "main-menu",
"label": "Select Menu"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
