{% if settings.cart__drawer %}
    {{ 'cart-drawer.css' | asset_url | stylesheet_tag }}
    {{ 'cart-drawer.js' | asset_url | script_tag }}

    <section class="drawer" id="drawer-name" data-drawer-target>
        <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
        <div class="drawer__wrapper">
            <div class="drawer__header">
                <div class="drawer__title">
                    {{ 'sections.cart.title' | t }}
                </div>
                <button class="drawer__close" data-drawer-close aria-label="Close Drawer"></button>
            </div>
            <div class="drawer__content">
                <div id="drawer_cart_items">
                    <img src="" alt=""><h5></h5><p></p>
                </div>
                <div id="drawer__cart_bottom">
                    <div class="drawer_cart_sub_row">
                        <div class="cart__subtotal">Subtotal</div>
                        <div>{{ cart.total_price | money }}</div>
                    </div>


                    <div class="cart__checkout-wrapper">
                        <button type="submit" name="checkout" class="button">
                            Checkout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

<script>
    fetch('/cart.js')
    .then( (resp) => resp.json() )
    .then( (data) => {
        //console.log(data)
        if(data.items.length > 0){
            data.items.forEach(function(product, index){
                document.getElementById('drawer_cart_items').innerHTML = '<img src="' + product.featured_image.url +'" alt="' + product.featured_image.alt +'"><h5>'+ product.title +'</h5><p>'+ product.quantity +' x ' + Shopify.formatMoney(product.line_price) +'</p>';
            })
        } else {
            document.getElementById('drawer_cart_items').innerHTML = "<p>Cart is empty</p>"
        }
        
    })

    var Shopify = Shopify || {};
// ---------------------------------------------------------------------------
// Money format handler
// ---------------------------------------------------------------------------
Shopify.money_format = "${{amount}}";
Shopify.formatMoney = function(cents, format) {
  if (typeof cents == 'string') { cents = cents.replace('.',''); }
  var value = '';
  var placeholderRegex = /\{\{\s*(\w+)\s*\}\}/;
  var formatString = (format || this.money_format);

  function defaultOption(opt, def) {
     return (typeof opt == 'undefined' ? def : opt);
  }

  function formatWithDelimiters(number, precision, thousands, decimal) {
    precision = defaultOption(precision, 2);
    thousands = defaultOption(thousands, ',');
    decimal   = defaultOption(decimal, '.');

    if (isNaN(number) || number == null) { return 0; }

    number = (number/100.0).toFixed(precision);

    var parts   = number.split('.'),
        dollars = parts[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1' + thousands),
        cents   = parts[1] ? (decimal + parts[1]) : '';

    return dollars + cents;
  }

  switch(formatString.match(placeholderRegex)[1]) {
    case 'amount':
      value = formatWithDelimiters(cents, 2);
      break;
    case 'amount_no_decimals':
      value = formatWithDelimiters(cents, 0);
      break;
    case 'amount_with_comma_separator':
      value = formatWithDelimiters(cents, 2, '.', ',');
      break;
    case 'amount_no_decimals_with_comma_separator':
      value = formatWithDelimiters(cents, 0, '.', ',');
      break;
  }

  return formatString.replace(placeholderRegex, value);
};

</script>

{% endif %}

