<script>

  document.addEventListener("DOMContentLoaded", () => {
                            function counter(id, start, end, duration) {
    let obj = document.getElementById(id),
        current = start,
        range = end - start,
        increment = end > start ? 1 : -1,
        step = Math.abs(Math.floor(duration / range)),
        timer = setInterval(() => {
                            current += increment;
                            obj.textContent = current;
                            if (current == end) {
          clearInterval(timer);
        }
  }, step);
  }
  counter("count1", {{ section.settings.count1 }});
  counter("count2", {{ section.settings.count2 }});
  counter("count3", {{ section.settings.count3 }});
  });


</script>


<style>
</style>


<section>
  <div class="counter">
    <div class="container">
    <div class="counter__inner">
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="counter__box">
            <h2 id="count1"></h2>
            <p>{{ section.settings.counter1 }}</p>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="counter__box">
            <h2 id="count2"></h2>
            <p>{{ section.settings.counter2 }}</p>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="counter__box">
            <h2 id="count3"></h2>
            <p>{{ section.settings.counter3 }}</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>



{% schema %}
  {
    "name": "Counter",
    "settings": [
        {
            "type":"text",
            "id":"count1",
            "label":"Counter 1",
			"default": "0, 275, 3000",
			"info": "please add like this:- 0, 400, 3000"
        },
        {
            "type":"text",
            "id":"counter1",
            "label":"Counter 1 Text",
			"default": "Kilo mindre CO2 per familie"
        },
		{
            "type":"text",
            "id":"count2",
            "label":"Counter 2",
			"default": "0, 267, 3000",
			"info": "please add like this:- 0, 400, 3000"
        },
        {
            "type":"text",
            "id":"counter2",
            "label":"Counter 2 Text",
			"default": "Kilo mindre å bære fra butikken"
        },
		{
            "type":"text",
            "id":"count3",
            "label":"Counter 3",
			"default": "0, 5500, 3000",
			"info": "please add like this:- 0, 400, 3000"
        },
        {
            "type":"text",
            "id":"counter3",
            "label":"Counter 3 Text",
			"default": "Kroner spart som Gryning Medlem"
        }
    ],
    "blocks":[
        {
            "type":"collection",
            "name":"Collection",
            "settings":[
                {
                    "id":"collection",
                    "type":"collection",
                    "label":"Collection"
                }
            ]
        }
    ],
    "presets":[
        {
            "name":"Counter",
            "category":"custom"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
