<style>
  .product-list{
  	padding: 0 0 80px;
  }
  .product-list-main-title{
  	display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .product-list-main-title h3{
  	padding: 10px 0;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
  }
  .product-list-main-title a{
  	color: #3e5242;
  }
  .product-box__products a{
  	display: block;
    width: 100%;
    height: 100%;
  }
  .product-list-box-img img{
  	width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
  }
  .product-list-box{
  	padding: 5px;
    border-radius: 5px;
    position: relative;
  }
  .product-list-overlay{
  	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255,255,255,0) 50%, #3e5242 100%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
  }
  .product-list-box-title a{
  	font-size: 16px;
    line-height: 24px;
    color: #fff;
  }
  .product-list-box-title a:hover{
  	color: #d3d3d3;
  }
  .product-list .slick-list{
    padding: 0px 60px 0px 0px !important;
  }
  .product-list-box-main{
    padding: 0;
  }

  .product-list-dots{
    position: relative;
  }
  .product-list-dots ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    bottom: unset;
    margin: 0;
    padding: 0;
    right: 0;
    width: 400px;
    height: 100%;
  }
  .product-list-dots .slick-dots li button:before{
    background: #000;
    width: 25px;
    height: 2px;
    content: '';
  }
  .product-list-slider-box{
  	position:relative;
  }
  .product-list-arrow{
  	position: absolute;
    top: 45%;
    z-index: 20;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3e5242;
    cursor: pointer;
    font-size: 30px;
  }
  .product-list-next{
  	right: 50px;
  }
  .product-list-prev{
  	left: 20px;
  }
</style>
<script>

  jQuery(document).ready(function ($) {
    $('.product-list-slider').slick({
      speed: 600,
      draggable: true,
      infinite: false,
      centerMode: false,
      centerPadding: '0.1px',
      slidesToShow: 5,
      slidesToScroll: 1,
      arrows: true,
      dots: true,
      appendDots: $('.product-list-dots'),
      prevArrow: $('.product-list-prev'),
      nextArrow: $('.product-list-next'),
      responsive: [
        {
          breakpoint: 991,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 575,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });
  }); 


</script>



<section id="custom-product-list" class="section-separator">

  <div class="product-list">
    <div class="container-fluid">

      <div class="product-list-main-title">
        <h3><a href="{{ section.settings.url }}">{{ section.settings.title }}</a></h3>
        <div class="product-list-dots"></div>
      </div>

      <div class="product-list-slider-box">

        <div class="product-list-arrow product-list-prev"><i class="fas fa-chevron-left"></i></div>
        <div class="product-list-arrow product-list-next"><i class="fas fa-chevron-right"></i></div>

        <div class="product-list-slider">
          {% for block in section.blocks %}
          {%- assign product = all_products[block.settings.product] -%}
          <div class="product-list-box-main">
            <div class="product-list-box">
              <div class="product-list-box-img">
                <img src="{{ product.featured_image.src | product_img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" />
              </div>
              <div class="product-list-overlay">
                <h3 class="product-list-box-title"><a href="{{ product.url }}">{{ product.title }}</a></h3>

                <form method="post" action="/cart/add">
                  <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                  <input type="submit" value="Add to cart" class="product-form__submit" />
                </form>
                
                <div class="header__cart">

                  <a class="js-ajax-cart-drawer-trigger" href="/cart">
                    {% include 'icon-cart' %}
                    <span class="js-ajax-cart-counter">{{ cart.item_count }}</span>
                  </a>

                </div>

              </div>
            </div>
          </div>

          {% endfor %}

        </div>
      </div>
    </div>
  </div>

</section>

{% schema %}
  {
    "name": "Custom Product List",
    "settings": [
{
               "type":"text",
               "id":"title",
               "label":"Collection title"
            },
{
               "type":"url",
               "id":"url",
               "label":"Collection URL"
            }

		],
"blocks":[
    {
      "type":"item",
      "name":"item",
      "settings":[
        {
          "type":"product",
          "id":"product",
          "label":"Select Product"
        }
      ]
    }
  ],
		"presets":[
        {
            "name":"Custom Product List",
            "category":"custom"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

{% endjavascript %}
