<footer>

  <div class="footer">
    <div class="constainer-fluid">
      <div class="footer__inner">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-12">
            <div class="footer__box">
              <div class="footer__box-inner">
                <div class="footer__box-logo">
                  
                  <a href="{{ routes.root_url }}">
                    
                    {% if section.settings.logo != blank %}
                    <img class="lazyload" src="{{ section.settings.logo | img_url: 'x50' }}">
                    {% else %}
                    <span class="h2">{{ shop.name }}</span>
                    {% endif %}
                    
                  </a>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <div class="footer__box">
              <div class="footer__box-inner">
                <div class="footer__box-title">
                  <h3>{{ section.settings.menu_title }}</h3>
                </div>
                <div class="footer__box-menu">

                  <nav role="navigation">
                    <ul>
                      {%- for link in section.settings.menu.links -%}
                      <li>
                        <a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>
                          {{ link.title }}
                        </a>

                        {%- if link.links != blank -%}
                        <ul>
                          {%- for child_link in link.links -%}
                          <li>
                            <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                              {{ child_link.title }}
                            </a>

                            {%- if child_link.links != blank -%}
                            <ul>
                              {%- for grandchild_link in child_link.links -%}
                              <li>
                                <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
                                  {{ grandchild_link.title }}
                                </a>
                              </li>
                              {%- endfor -%}
                            </ul>
                            {%- endif -%}

                          </li>
                          {%- endfor -%}
                        </ul>
                        {%- endif -%}

                      </li>
                      {%- endfor -%}
                    </ul>
                  </nav>

                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <div class="footer__box">
              <div class="footer__box-inner">
                <div class="footer__box-title">
                  <h3>{{ section.settings.newstitle }}</h3>
                </div>
                <div class="footer__box-text">
                  <p>{{ section.settings.newstext }}</p>
                </div>
                <div class="footer__box-form">

                  {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <div class="newsletter-form__field-wrapper">
                    <div class="field">
                      <input
                             id="NewsletterForm--{{ section.id }}"
                             type="email"
                             name="contact[email]"
                             class="field__input"
                             value="{{ form.email }}"
                             aria-required="true"
                             autocorrect="off"
                             autocapitalize="off"
                             autocomplete="email"
                             {% if form.errors %}
                             autofocus
                             aria-invalid="true"
                             aria-describedby="ContactFooter-error"
                             {% elsif form.posted_successfully? %}
                             aria-describedby="ContactFooter-success"
                             {% endif %}
                             placeholder="{{ 'newsletter.label' | t }}"
                             required
                             >
                      <label class="field__label" for="NewsletterForm--{{ section.id }}">
                        {{ 'newsletter.label' | t }}
                      </label>
                      <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                        {% render 'icon-arrow' %}
                      </button>
                    </div>
                    {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                    {%- endif -%}
                  </div>
                  {%- if form.posted_successfully? -%}
                  <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
                  {%- endif -%}
                  {%- endform -%}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>




{% schema %}
 {
    "name":"New Footer",
    "settings":[
        {
            "type":"image_picker",
            "id":"logo",
            "label":"Logo"
        },
{
            "type":"text",
            "id":"menu_title",
            "label":"Menu Title"
        },
{
            "type":"link_list",
            "id":"menu",
            "label":"Footer Menu"
        },
{
            "type":"text",
            "id":"newstitle",
            "label":"News Title"
        },
{
            "type":"text",
            "id":"newstext",
            "label":"News Title"
        }
    ],
    "presets":[
        {
            "name":"New Footer",
            "category":"Footer"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}