<style>
  .custom-parallax{
  	width: 100%;
  }
  .custom-parallax__inner {
    background-image: url({{ section.settings.image | img_url: 'master' }});
    height: 1000px;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
  }

</style>


<script>
  $(document).ready(function() {
  
  // Find the initial scroll top when the page is loaded.
  var initScrollTop = $(window).scrollTop();
  
  // Set the image's vertical background position based on the scroll top when the page is loaded.
  $(parallax1).css({'background-position-y' : (initScrollTop/75)+'%'});
  
  // When the user scrolls...
  $(window).scroll(function() {
    
    // Find the new scroll top.
    var scrollTop = $(window).scrollTop();
    
    // Set the new background position.
    $(parallax1).css({'background-position-y' : (scrollTop/75)+'%'});
    
  });
  
});
</script>

<section>
  <div class="custom-parallax">
    <div id="parallax1" class="custom-parallax__inner" data-type="background" data-speed="10">

      <article>

        <div class="custom-parallax__box">
          <div class="custom-parallax__box-subtitle">
            <p>{{ section.settings.subtitle }}</p>
          </div>
          <div class="custom-parallax__box-title">
            <h2>{{ section.settings.title }}</h2>
          </div>
          <div class="custom-parallax__box-text">
            <p>{{ section.settings.text }}</p>
          </div>
          <div class="custom-parallax__box-link">
            <a href="{{ section.settings.btn_link }}">{{ section.settings.btn_text }}</a>
          </div>
        </div>

      </article>

    </div>
  </div>
</section>








{% schema %}
 {
    "name":"Custom parallax section",
    "settings":[
        {
            "type":"image_picker",
            "id":"image",
            "label":"Background Image"
        },
{
            "type":"text",
            "id":"subtitle",
            "label":"Sub Title",
            "default":"Sub Title"
        },
{
            "type":"text",
            "id":"title",
            "label":"Title",
            "default":"Title"
        },
{
            "type":"textarea",
            "id":"text",
            "label":"Text",
            "default":"Some text here"
        },
{
            "type":"text",
            "id":"btn_text",
            "label":"Button Text"
        },
{
            "type":"url",
            "id":"btn_link",
            "label":"Button URL"
        }
    ],
    "presets":[
        {
            "name":"Custom parallax section",
            "category":"custom"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
