<style>
  .small-product-box{
  	margin: 0 0 80px;
  }
  .small-product-box__products{
  	padding: 5px;
    border-radius: 5px;
    position: relative;
    transition: all 400ms;
  }
  .small-product-box_title{
  	padding: 10px 0;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
  }
  .small-product-box_title a{
  	color: #3e5242;
  }
  .small-product-box__products a{
  	display: block;
    width: 100%;
    height: 100%;
  }
  .small-product-box__products-img{
  	width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }
  .small-product-box__products-tag{
  	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255,255,255,0) 50%, #3e5242 100%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
  } 
  .small-product-box__products-name{
  	font-size: 16px;
    line-height: 24px;
    color: #fff;
  }
  .small-product-box__products-name:hover{
    color: #d3d3d3;
  }
  .small-product-box__slider .slick-list{
    padding: 0px 60px 0px 0px !important;
    z-index: 1;
  }
  .small-product-box-box{
  	padding: 0;
  }
  .small-product-box_title-box{
  	display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -40px;
    position: relative;
    z-index: 5;
  }
  .small-product-box-dots{
  	position: relative;
  }
  .small-product-box-dots ul{
  	display: flex;
    align-items: center;
    justify-content: flex-end;
    bottom: unset;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    right: 0;
    width: 400px;
    height: 100%;
  }
  .small-product-box-dots .slick-dots li button:before{
  	background: #000;
    width: 25px;
    height: 2px;
    content: '';
  }
  .small-product-box__slider-main{
  	position:relative;
  }
  .small-product-box-arrow{
  	position: absolute;
    top: 45%;
    z-index: 20;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3e5242;
    cursor: pointer;
    font-size: 30px;
  }
  .small-product-box__slider.slick-dotted{
  	margin-bottom: -50px;
  }
  .small-product-box-next{
  	right: 50px;
  }
  .small-product-box-prev{
  	left: 20px;
  }
  .small-product-box__slider .slick-track{
  	margin: 40px 0;
  }
  .small-product-box__products-main-price{
  	display: none;
  }
  .small-product-box__products:hover{
  	transform: scale(1.3);
    z-index: 50;
    padding: 0;
    box-shadow: 2px 2px 10px 2px rgb(31 31 31 / 47%);
  }
  .small-product-box__products:hover .small-product-box__products-tag{
  	position: unset;
    margin: 0;
    height: 100px;
    width: 100%;
    background: #3e5242;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    justify-content: unset;
    display: inline-block;
  }
  .small-product-box__products:hover .small-product-box__products-img{
  	height: 100px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .small-product-box__products-action{
  	display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .small-product-box__products-var{
  	display: none;
  }
  .small-product-box__products:hover .small-product-box__products-action{
  	display: flex;
  }
  .small-product-box__products-right a{
  	width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    display: flex;
    font-size: 7px;
    line-height: 0;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0;
  }
  .small-product-box__products-left .btn{
  	width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid #fff;
    background: #fff;
    color: #3e5242;
    display: flex;
    font-size: 9px;
    line-height: 0;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0;
  }
  .small-product-box__products:hover .small-product-box__products-name {
    font-size: 12px;
    line-height: 20px;
    padding: 5px 0 0;
    text-align: left;
    text-decoration: none;
  }
  .small-product-box__products:hover .small-product-box__products-main-price{
  	display: flex;
    color: #fff;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
  }
  .small-product-box__products:hover .small-product-box__products-var{
  	display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .small-product-box__products-var ul{
  	display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-left: 10px;
  }
  .small-product-box__products-var ul li{
  	color: #fff;
    font-size: 8px;
    text-align: left;
    padding-right: 20px;
    position: relative;
  }
  .small-product-box__products-var ul li:after{
  	position: absolute;
    content: "";
    left: -10px;
    top: 6px;
    width: 3px;
    height: 3px;
    border-radius: 10px;
    background: #d3d3d3;
  }
  
  
  @media only screen and (max-width: 1440px){
    .small-product-box__products:hover .small-product-box__products-var{
      display: none;
    }
  }
  @media only screen and (max-width: 450px){
    .small-product-box-dots{
      display: none;
    }
    .small-product-box__products:hover{
  		transform: scale(1.1);
    }
    .small-product-box__products:hover .small-product-box__products-main-price{
    	display: flex;
    }
    .small-product-box__products-img{
    	height: 300px;
    }
    .small-product-box__products:hover .small-product-box__products-img{
    	height: 150px;
    }
  }
  
  
  {% if template == 'page.streamable-products-template' %}

  .small-product-box_title a{
    color: #fdfaf2;
  }
  .small-product-box-dots .slick-dots li button:before {
    background: #fdfaf2;
  }
  .small-product-box-arrow{
    color: #fdfaf2;
  } 
  
  {% endif %}
  
  
  
  
  
</style>

<script>

  jQuery(document).ready(function ($) {
    $(".small-product-box__slider").each(function (num, elem) {
      elem = $(elem);
      elem.slick({
        speed: 600,
        draggable: true,
        infinite: false,
        centerMode: false,
        centerPadding: "0.1px",
        slidesToShow: 6,
        slidesToScroll: 1,
        arrows: true,
        dots: true,
        appendDots: $(".small-product-box-dots")[num],
        nextArrow: $(".small-product-box-next")[num],
        prevArrow: $(".small-product-box-prev")[num],

        responsive: [
          {
            breakpoint: 1440,
            settings: {
              slidesToShow: 5,
              slidesToScroll: 1,
            },
          },
          {
            breakpoint: 1199,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 1,
            },
          },
          {
            breakpoint: 769,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 1,
            },
          },

          {
            breakpoint: 460,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
            },
          },
        ],
          });
          });
          });



</script>


<section id="small-custom-product-box" class="section-separator">
  {% assign new_collection = collections[section.settings.my_collection] %}
  <div class="small-product-box"> 
    <div class="container-fluid pr-0">
      <div class="small-product-box__inner">
        {% if section.settings.show_title %}
        <div class="small-product-box_title-box">
          <h2 class="small-product-box_title"><a href="{{ new_collection.handle }}">{% if section.settings.title == '' %}{{ new_collection.title }}{% else %}{{ section.settings.title }}{% endif %}</a></h2>
          <div class="small-product-box-dots"></div>
        </div>
        {% endif %}
        <div class="small-product-box__slider-main">
          <div class="small-product-box-arrow small-product-box-prev"><i class="fas fa-chevron-left"></i></div>
          <div class="small-product-box-arrow small-product-box-next"><i class="fas fa-chevron-right"></i></div>
          <div class="small-product-box__slider">

            {% for product in new_collection.products %}
            <div class="small-product-box-box">
              <div class="small-product-box__products">

                <a href="{{ product.url }}">
                  <img class="small-product-box__products-img" src="{{ product.featured_image | product_img_url: 'medium' }}">
                </a>

                <div class="small-product-box__products-tag">
                  
                  <div class="small-product-box__products-action">
                    <div class="small-product-box__products-left">

                      <div class="hoverclick">
                        <form method="post" action="/cart/add" class="custom-cart-form">
                          <input name="id" value="{{ product.variants.first.id }}" class="product-custom-id" type="hidden" />
<!--                           <input name="add" value="Add to Cart" type="submit"  class="cart-add-button add-cart-custom-btn"> -->
                          <button type="submit" class="btn cart-add-button add-cart-custom-btn"><i class="fas fa-plus"></i></button>
                        </form>
                      </div>
                      
                    </div>
                    <div class="small-product-box__products-right">
                      <a href="{{ product.url }}"><i class="fas fa-chevron-down"></i></a>
                    </div>
                  </div>

                  <h3><a href="{{ product.url }}" class="small-product-box__products-name">{{ product.title }}</a></h3>

                  <div class="small-product-box__products-main-price">
                    <div class="d-flex">
                    {% if section.settings.show_price %}
                    <p class="small-product-box__products-price m-0 pr-2">{{ country.currency.symbol }}{{ product.price | money_without_trailing_zeros }}</p>
                    {% endif %}
                    {% if section.settings.price_max %}
                    <s>{{ country.currency.symbol }}{{ product.compare_at_price_max | money_without_trailing_zeros }}</s>
                    {% endif %}
                    </div> 
                    <div class="small-product-box__products-save">
                    	{% if product.compare_at_price_max > product.price %}{{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: '.0'}}% OFF{% endif %}
                    </div>
                  </div>
                  <div class="small-product-box__products-var">
                    
                    {% assign hide_default_title = false %}
                    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                    {% assign hide_default_title = true %}
                    {% endif %}
                    
                    <ul>
                      {% for variant in product.variants limit: 3 %}
                      {% unless hide_default_title %}
                      <li>{{ variant.title }}</li>
                      {% endunless %}
                      {% endfor %} 
                    </ul>
                    
                    
                    
                  </div>
                </div>

              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
 
</section>

{% schema %}
{
  "name":"Small product list",
  "settings":[
    {
      "type":"checkbox",
      "id":"show_price",
      "label":"Show Product Price",
      "default":false
    },
    {
      "type":"checkbox",
      "id":"price_max",
      "label":"Show Compare Price"
    },
    {
      "type":"checkbox",
      "id":"show_title",
      "label":"Show Collection Title",
	  "default":true
    },
    {
      "type":"text",
      "id":"title",
      "label":"Collection Title"
    },
    {
      "type":"collection",
      "id":"my_collection",
      "label":"Select Collection"
    }
  ],
  "presets":[
    {
      "name":"Small product list",
      "category":"Product"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

	// Ajax Add-to-cart Button

$(document).ready(function() {
  
  
  $(document).on( 'click', '.add-cart-custom-btn', function( e ) {
    
    var p_id = $(this).prev('.product-custom-id').val(); 
    e.preventDefault();

    add_to_cart( p_id );
    
  } );

});


function add_to_cart( id ) {
    
    var quantity = 1;
    var params = {
        type: "POST",
        url: "/cart/add.js",
        data: "quantity=" + quantity + "&id=" + id,
        dataType: "json",
        success: function(line_item) {
          	cart_count_add();
          
        },
        error: function(XMLHttpRequest, textStatus) {
            //message_show( "error", XMLHttpRequest.responseJSON.description );
        }
    };
    $.ajax(params);
}

// Cart Count Update 

function cart_count_add() {
  if( $(document).find('.ajax-badge__custom').length > 0 ) {
  	var current_cart_val = $('.ajax-badge__custom').html();
    $('.ajax-badge__custom').html( parseFloat( parseFloat(current_cart_val) + 1 ) );
  } else {
  	$('.custom-cart-before').after( '<div class="ajax-count-bubble">'+            
              '<span aria-hidden="true" class="ajax-badge__custom">1</span>'+
              '<span class="visually-hidden"></span>'+
          '</div>' );
  }
}


function change_cart( variant_id ) {
	
    var quantity = 0;
  
    var params = {
        type: "POST",
        url: "/cart/change.js",
        data: "quantity=" + quantity + "&id=" + variant_id,
        dataType: "json",
        success: function(XMLHttpRequest) {
          	cart_count_update();
        },
        error: function(XMLHttpRequest, textStatus) {
            
        }
    };
    $.ajax(params);
}

function cart_count_update() {
  $.getJSON("/cart.js", function( cart ) {
  	console.log(cart);
    if( cart.item_count == 0 ) {
      $('.ajax-count-bubble').hide();
      $('.cart__empty-text').show()
    } else {
    	$('.ajax-badge__custom').html( cart.item_count );
    }
    
  })
}

{% endjavascript %}
